{% extends "base.njk" %}

{% block content %}
    <table cellpadding="0" cellspacing="0" class="es-content" align="center"
           style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;">
        <tr style="border-collapse:collapse;">
            <td align="center" style="padding:0;Margin:0;">
                <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0"
                       cellspacing="0" width="600"
                       style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;">
                    <tr style="border-collapse:collapse;">
                        <td align="left" bgcolor="#001529"
                            style="Margin:0;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px;background-color:#001529;">
                            <table cellpadding="0" cellspacing="0" width="100%"
                                   style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                                <tr style="border-collapse:collapse;">
                                    <td width="560" align="center" valign="top" style="padding:0;Margin:0;">
                                        <table cellpadding="0" cellspacing="0" width="100%"
                                               role="presentation"
                                               style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                                            <tr style="border-collapse:collapse;">
                                                <td align="center"
                                                    style="padding:0;Margin:0;font-size:0px;"><img
                                                            src="https://theukquarantinequiz.co.uk/img/static/email-icon.png"
                                                            alt
                                                            style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"
                                                            width="66"></td>
                                            </tr>
                                            <tr style="border-collapse:collapse;">
                                                <td align="center" style="padding:0;Margin:0;"><p
                                                            style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:19px;font-family:roboto, 'helvetica neue', helvetica, arial, sans-serif;line-height:29px;color:#FCE936;">
                                                        Verify email address</p></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="border-collapse:collapse;">
                        <td align="left" bgcolor="#233b78"
                            style="Margin:0;padding-left:20px;padding-right:20px;padding-bottom:25px;padding-top:40px;background-color:#233B78;">
                            <table width="100%" cellspacing="0" cellpadding="0"
                                   style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                                <tr style="border-collapse:collapse;">
                                    <td width="560" valign="top" align="center" style="padding:0;Margin:0;">
                                        <table width="100%" cellspacing="0" cellpadding="0"
                                               role="presentation"
                                               style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                                            <tr style="border-collapse:collapse;">
                                                <td align="center"
                                                    style="padding:0;Margin:0;padding-left:30px;padding-right:30px;">
                                                    <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:roboto, 'helvetica neue', helvetica, arial, sans-serif;line-height:21px;color:#FCE936;">
                                                        You've created an account at <a target="_blank"
                                                                                        style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:roboto, 'helvetica neue', helvetica, arial, sans-serif;font-size:14px;text-decoration:none;color:#18B670;"
                                                                                        href="https://theukquarantinequiz.co.uk">theukquarantinequiz.co.uk</a>
                                                        using this email address, you just need to activate
                                                        it! If it wasn't you, please ignore this email.</p>
                                                </td>
                                            </tr>
                                            <tr style="border-collapse:collapse;">
                                                <td align="center"
                                                    style="Margin:0;padding-left:10px;padding-right:10px;padding-top:25px;padding-bottom:25px;">
                                                <span class="es-button-border"
                                                      style="border-style:solid;border-color:#2CB543;background:#2EA26E;border-width:0px 0px 2px 0px;display:inline-block;border-radius:30px;width:auto;"><a
                                                            href="{{ verificationLink }}" class="es-button"
                                                            target="_blank"
                                                            style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:18px;color:#FFFFFF;border-style:solid;border-color:#2EA26E;border-width:10px 20px 10px 20px;display:inline-block;background:#2EA26E;border-radius:30px;font-weight:normal;font-style:normal;line-height:22px;width:auto;text-align:center;">Verify Email Address</a></span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}
