.App {
  text-align: center;
  
}

.header {
  background-color: #282c34;
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* height:6vh; */
  /* width:"100vw"; */
  /* padding:"10px"; */
  /* margin:0; */
  align-items: center;
  justify-content: center;
  vertical-align:middle;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  /* border:"1px solid black"; */
}

.sider {
  text-align:left;
}

.chat-area{
  /* height:55vh; */
  /* vertical-align: bottom; */
  display:block;
  overflow-y:auto;
  width:100%;
  
}

.sider-chat-message{
  padding:3px;
  width:100%;
  border-bottom:1px solid #282c34;
  display:block;
}


.content-inner{
  /* margin: 20px; */
  /* background: white; */
  flex: 1 0 auto;
  width:80%;
  /* position: absolute;
  top: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0) */
}
.content-outer{
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  /* justify-content: space-around; */
  align-items: center;
  overflow-y:auto;
}


.content-inner-mobile{
  /* margin: 20px; */
  /* background: white; */
  width:95%;
  position: absolute;
  text-align:center;
}
.content-mobile{
  /* height: 70vh; */
  text-align:center;
  padding:20px;
  width:100%;
  background:linear-gradient(rgb(214, 214, 255),rgb(206, 255, 235));
  /* border:20px solid gray; */
  /* position: relative */
}

.chat-area-mobile{
  height:40vh;
  background-color:#DDDDFF;
  /* vertical-align: bottom; */
  display:block;
  overflow-y:auto;
  width:100%;
  
}

